<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ca-main"} -->
<main class="wp-block-group ca-main">
	<!-- wp:group {"className":"content-section","layout":{"type":"constrained"}} -->
	<div class="wp-block-group content-section">
		<!-- wp:post-title {"level":1,"className":"page-title"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
